<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sam's app</title>
  <script type="text/javascript">
    window.user = {{{ user }}};
  </script>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
    </script>

    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>

<body>
  <div class="container" "col-md-10 col-md-offset-1">
    <div class="title text-center" <legend><strong>Snippets</strong></legend>
      <!-- Text input-->
    </div>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <div class="jumbotron">

      <div id="header">
        <!-- BEGIN FORM SAMPLE -->

        <section id='snippet-form' class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <form class="form-horizontal" id="newSnippetForm">
                <fieldset>
                  <!-- Form Name -->

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="title">Title</label>
                    <div class="col-md-4">
                      <input id="title" name="title" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                  </div>
                  <!-- Textarea -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="text">text </label>
                    <div class="col-md-4">
                      <textarea class="form-control input-md" id="texts" placeholder="" required="" name="text"></textarea>
                    </div>
                  </div>
                  <!-- Button -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4" id="submitbtyn">
                      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </section>
        <section class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h2>Snippets</h2>
            </div>
          </div>
          <!-- snippets! -->
          <div class='snippets' id="snippets-list">
            <!-- one snippet -->
            <script id="snippets-template" type="text/x-handlebars-template">
              <div class="row snippet" data-snippet-id="\{{_id}}">

                <div class="col-md-10 col-md-offset-1">
                  <div class="panel panel-default">
                    <div class="panel-body">

                      <!-- begin snippet internal row -->

                      <div class="col-md-10 col-md-offset-1">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class='inline-header'>Title:</h4>
                            <span class='title'>\{{title}}</span>
                          </li>

                          <li class="list-group-item">
                            <h4 class="inline-header">Texts:</h4>
                            <span class='text'>\{{text}}</span>
                          </li>

                        </ul>

                        <form class="form-inline" id="addCommentForm" data-id=\ {{_id}}>
                          <div class="form-group">
                            <input type="text" class="form-control" name="comments" placeholder="Comments">
                          </div>
                          <div class="display comments" id="showComments">
                            <b>Comments:</b>
                            {{#each comments}}
                              {{comment}}
                            {{/each}}
                          </div>
                          <button type="submit" class="btn btn-default">Add Comment</button>
                          <!-- </form>
                        <form class="form-inline" id="editSnippetForm" data-id=\{{_id}} name="edit">
                          <button type="submit" class="btn btn-default">Edit</button>
                        </form> -->
                        </form>
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#\{{_id}}">
                          <button type="submit" class="btn btn-default">Edit</button>
                        </a>
                        <form class="form-inline" id="deleteSnippetForm" data-id="\{{_id}}" name="delete">
                          <button type="submit" class="btn btn-default">Delete</button>
                        </form>
                      </div>
                      <!-- form to update post -->
                      <div class="collapse" id="\{{_id}}">
                        <br>
                        <form class="form-inline update-post">
                          <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Title" value="\{{title}}">
                          </div>
                          <div class="form-group">
                            <input type="text" name="text" class="form-control" placeholder="Description" value="\{{text}}">
                          </div>
                          <div class="form-group">
                            <input type="submit" class="btn btn-block btn-default" value="Update">
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </script>
            <!-- end one snippet -->

          </div>
      </div>
      </section>
      <!--   END FORM SAMPLE -->

</body>

</html>
